body {
	margin: 0;
}

video {
	display: none;
}

#container {
	margin: auto;
	width: 1000px;
}

canvas {
	transform: scaleX(-1);
}

#sidebar {
	background-color: #333;
	width: 200px;
	height: 600px;
	float: left;
}

.face_component {
	width: 50px;
	height: 50px;
	float: left;
	margin: 10px;
}

.face_component img {
	width: 50px;
	height: 50px;
}

