
<html>

<head>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
	<video id="camera-stream" width="200" height="150" autoplay></video>

	<script src="static/js/p5.min.js"></script>
	<script src="static/js/clmtrackr.js"></script>
	<script src="static/js/model_pca_20_svm.js"></script>
	<script src="static/js/camera_input.js"></script>
	<script src="static/js/gestures.js"></script>
	<script src="static/js/face_drawing.js"></script>
	<script src="static/js/main.js"></script>
</body>

</html>